#barra_logo {
	/*background-color: #F7F7F7;*/
	background-color: rgb(230, 230, 250);
}

.navbar {
  display: flex;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(230, 230, 250);
  margin-bottom: 50px;
}
.navbar--logotipo img {
  width: 160px;
  height: 50px;
}
.navbar--menu a {
  margin-left: 40px;
  margin-right: 40px;
  color: black;
}
.navbar--menu .active {
  font-weight: bold;
}

.redes-sociais ul li {
  margin-left: 5px;
  display: inline-block;
  float: left;
}
.redes-sociais {
  width: 35%;
  float: right;
}


.nav-2 {
  background-color: white;
  width: 980px;
  margin: 0 auto;
  padding: 12px;
}

.menu-urls {
  border-bottom: 3px solid #efefef;
  height: 80px;
}
.menu ul li {
  display: inline-block;
  color: #b5b5b5;
  margin-left: 15px;
  height: 50px;
}
.menu ul li:hover {
  border-bottom: 2px solid #00bac6;
}
.menu ul li a:hover {
  color: #00bac6;
}
.menu ul li a {
  color: #b5b5b5;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}
.menu {
  width: 70%;
  float: left;
}
.col-100 {
  width: 100%;
  float: left;
  position: relative;
}

@media (max-width:1024px) {
    .navbar {
      padding-left: 50px;
      padding-right: 50px;
      margin-bottom: 70px;
    }
}
@media (max-width:768px) {
    .navbar {
      flex-direction: column;
    }
    .navbar--menu {
      margin-top: 20px;
      margin-bottom: 20px;
    }
}
@media (max-width:452px) {
    .navbar {
      padding-left: 0;
      padding-right: 0;
    }
}